fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-jose[cryptography]
bcrypt

pandas
numpy
scikit-learn
openpyxl

python-dotenv

langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-huggingface

faiss-cpu
sentence-transformers

pypdf
python-pptx
docx2txt
unstructured

tiktoken
firebase-admin
